@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.header {
  .inner-container {
    padding-top: 40px;
    justify-content: flex-end;
    @include media("L") {
      padding: 40px 30px;
      justify-content: space-between;
    }
    @include media("M") {
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1200px) {
    .logo {
      margin-right: 368px;
    }
  }
}
.burgermenu {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  @include media("M") {
    display: block;
  }
  &__svg {
    width: 30px;
    height: 30px;
  }
}
.header-list {
  width: 610px;
  @include flex;
  &__link {
    color: $main-color;
  }
  @include media("L") {
    width: 500px;
  }
  @include media("M") {
    display: none;
  }
}
