@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$main-color: #575c74;
$title-color: #0c122d;
$secondary-color: #1b5fc1;
$accent-color: #ffb800;
$bg-color: #f7fdfb;
$btn-color-text: #fff;

$main-font: "Open Sans", sans-serif;
$title-font: "Rubik", sans-serif;
$secondary-font: "Roboto", sans-serif;