@use "../utils/variables" as *;
@use "../utils/placeholders" as *;
@use "../utils/mixins" as *;
* {
  box-sizing: border-box;
}
html {
  color: $main-color;
  font-family: $main-font;
  font-size: 16px;
}
a:hover {
  color: $secondary-color;
}
a:focus {
  color: $secondary-color;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.btn {
  @extend %btn;
  &:hover{
    color: $accent-color;
  }
  &:focus{
    color: $accent-color;
  }
}
.title {
  @extend %title;
}
.logo{
  width: 161px;
  height: 40px;
  background-color: #C4C4C4;
  @include media("L"){
    width: 115px;
margin-right: 100px;
  }
}
.logo__img{
  width: 161px;
  height: 40px;
}
.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  @extend %dynamic-padding;
}
.inner-container {
  max-width: 1141px;
  width: 100%;
  margin: 0 auto;
  @include flex(center);
  ;
}
