<div class="mobile-menu is-hidden">
    <button type="button" class="burger-close">
        <svg class="burger-close__svg">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <nav class="burger-nav">
    <ul class="menu-list">
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Home</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">About</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Product</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Contact</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">History</a>
        </li>
        <li class="menu-list__item">
            <a class="menu-list__btn btn" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
</div>