<section class="certification">
  <div class="inner-container">
  <h5 class="certification__title">Our Lab Certification</h5>
  <hr class="certification__line" />
  <ul class="certification-list">
    <li class="certification-list__item">
      <div class="certification-list-img-wrapper">
      <img src="./images/logo-fda.png" alt="logo" class="certification__img" />
      </div>
    </li>
    <li class="certification-list__item">
      <div class="certification-list-img-wrapper">
      <img src="./images/logo-nelson.png" alt="logo" class="certification__img" />
      </div>
    </li>
    <li class="certification-list__item">
      <div class="certification-list-img-wrapper">
      <img src="./images/logo-cnas.png" alt="logo" class="certification__img" />
      </div>
    </li>
  </ul>
  </div>
</section>
