<section class="factory">
  <div class="inner-container">
    <div class="factory-top-container">
  <div class="factory-img-wrapper">
    <img src="./images/factory.jpg" alt="factory" class="factory__img" />
            <div class="factory-text-container">
      <p class="factory-text">
        Given the praised reputation and reliable quality within the industry,
        we have also established preliminary business agreements with some
        hospitals, local governments and medical institutions in Guangdong
        Province.
      </p>
    </div>
    </div>
  </div>
  <ul class="factory-list">
    <div class="factory-list-two-items-wrapper">
    <li class="factory-list__item">
      <p class="factory-list__text">
        After years of development, Health Pro has reached stable long-term
        cooperation with many hospitals and medical institutions in Hong Kong.
      </p>
    </li>
    <li class="factory-list__item">
      <p class="factory-list__text factory-list__text--white">
        We are keenly looking forward to expand our market in Mainland China and
        overseas in the future, as we have strong beliefs in our products.
      </p>
    </li>
    </div>
    <li class="factory-list__item--accent">
      <h3 class="factory-list__title">Proudly Made in Hong Kong</h3>
      <p class="factory-list__text--bottom">
        Our factory is located in Hong Kong. Equipped with machines and assembly
        line of the best quality on the market to ensure quality control.
      </p>
      <div class="factory-more-info-wrapper">
        <div class="link-wrapper link-wrapper--blue">
          <a class="more-info-link link link--blue" href="#">Learn More</a>
        </div>
        <hr class="factory-contact-info-line"/>
        <div class="factory-contact-info-wrapper">
          <div class="factory-contact-info-icon-wrapper">
            <svg class="factory-contact-info-icon">
              <use
                class="factory-contact-info__svg"
                href="./images/sprite.svg#phone"
              ></use>
            </svg>
          </div>
          <div class="factory-contact-info-text-wrapper">
          <h5 class="factory-contact-info__text">Contact us</h5>
          <a href="tel:+11234445678"
          class="factory-contact-info__phone">+1 123 444 5678</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>
</section>
