<footer class="footer">
  <div class="footer-contact-list-bg">
  <ul class="footer-contact-list">
    <li class="footer-contact-list__item">
      <svg class="footer-contact-list-icon">
        <use
          class="footer-contact-list__svg"
          href="./images/sprite.svg#location"
        ></use>
      </svg>
      <div class="footer-contact-list-text-wrapper">
        <h3 class="footer-contact-list__title">Address</h3>
        <p class="footer-contact-list__text">123 5th Avenue, New York, US</p>
      </div>
    </li>
    <li class="footer-contact-list__item">
      <svg class="footer-contact-list-icon">
        <use
          class="footer-contact-list__svg"
          href="./images/sprite.svg#phone"
        ></use>
      </svg>
      <div class="footer-contact-list-text-wrapper">
        <h3 class="footer-contact-list__title">Call Us</h3>
        <p class="footer-contact-list__text">+1 123 456 7890</p>
      </div>
    </li>
    <li class="footer-contact-list__item">
      <svg class="footer-contact-list-icon">
        <use
          class="footer-contact-list__svg"
          href="./images/sprite.svg#mail"
        ></use>
      </svg>
      <div class="footer-contact-list-text-wrapper">
        <h3 class="footer-contact-list__title">Email Us</h3>
        <p class="footer-contact-list__text">info@example.com</p>
      </div>
    </li>
  </ul>
  </div>
  <!-- <a class="logo" href="#">
        <img src="" alt="">
    </a> -->
  <div class="bottom-footer">
    <p class="footer__text">
      Our team is led by several chief engineers, composed of a large number of
      researchers absorbed in their work in our comprehensive laboratory, which
      is also a renowned medical equipment testing center in Hong Kong
    </p>
    <div class="footer-company-lists-wrapper">
    <div class="footer-company-wrapper footer-list-wrapper">
      <h3 class="footer-company__title footer-list__titles">Company</h3>
      <nav class="navigation">
        <ul class="footer-company-list footer-list">
          <li class="footer-company-list__item">
            <a class="footer-company-list__link footer-list__link" href="#"
              >Home</a
            >
          </li>
          <li class="footer-company-list__item">
            <a class="footer-company-list__link footer-list__link" href="#"
              >About</a
            >
          </li>
          <li class="footer-company-list__item">
            <a class="footer-company-list__link footer-list__link" href="#"
              >Product</a
            >
          </li>
          <li class="footer-company-list__item">
            <a class="footer-company-list__link footer-list__link" href="#"
              >Contact</a
            >
          </li>
          <li class="footer-company-list__item">
            <a class="footer-company-list__link footer-list__link" href="#"
              >History</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-social-media-list-wrapper">
      <h3 class="footer-social-media-list-title footer-list__titles">
        Follow Us
      </h3>
      <div class="footer-social-media-list-progress-bar"></div>
      <ul class="footer-social-media-list footer-list">
        <li class="footer-social-media-list__item">
          <a href="#" class="footer-social-medial__link footer-list__link"
            >Facebook</a
          >
        </li>
        <li class="footer-social-media-list__item">
          <a href="#" class="footer-social-medial__link footer-list__link"
            >Twitter</a
          >
        </li>
        <li class="footer-social-media-list__item">
          <a href="#" class="footer-social-medial__link footer-list__link"
            >Google +</a
          >
        </li>
        <li class="footer-social-media-list__item">
          <a href="#" class="footer-social-medial__link footer-list__link"
            >Youtube</a
          >
        </li>
        <li class="footer-social-media-list__item">
          <a href="#" class="footer-social-medial__link footer-list__link"
            >Linkedin</a
          >
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="footer-rights-wrapper">
    <p>
      Copyright
      <span class="footer__icon">
        <svg class="footer-rights-icon">
          <use class="footer-rights__svg" href="#"></use>
        </svg>
      </span>
      2020 N95
    </p>
  </div>
</footer>
