<section class="hero">
  <div class="inner-container">
    <div class="hero-background">
      <div class="hero-container-positioner">
        <div class="hero-text-block">
          <h5 class="hero__subtitle">3M N95 masks</h5>
          <h1 class="hero__title">Protective Face Masks</h1>
          <p class="hero__text">
            We offer the fast delivery wholesale selection of N95 masks and
            surgical masks, featuring FDA-approved quality and 2 – 5 days
            delivery, our wholesale face masks are ideal for influenza or novel
            coronavirus prevention.
          </p>
          <ul class="hero-button-list">
            <li class="hero-button-list__item">
              <button class="hero-button-list__btn btn">Shop now</button>
            </li>
            <li class="hero-button-list__item link-wrapper">
              <a class="hero-button-list__link link" href="#">Learn More</a>
            </li>
          </ul>
        </div>
        <div class="img-wrapper hero-img-wrapper">
          <img src="./images/woman-mask.jpg" alt="woman" class="hero__img" />
        </div>
                  <ul class="hero-button-list hero-button-list--adaptive">
            <li class="hero-button-list__item">
              <button class="hero-button-list__btn btn">Shop now</button>
            </li>
            <li class="hero-button-list__item link-wrapper">
              <a class="hero-button-list__link link" href="#">Learn More</a>
            </li>
          </ul>
      </div>
      <ul class="hero-list">
        <li class="hero-list__item">
          <div class="hero-list-positioner">
            <svg class="hero-list__icon">
              <use class="hero-list__svg" href="./images/sprite.svg#box"></use>
            </svg>
            <h3 class="hero-list__title">Full-Service Shipping</h3>
          </div>
          <p class="hero-list__text">
            From picking to custom-crating to domestic and international
            shipping, we handle it all for you.
          </p>
        </li>
        <li class="hero-list__item">
          <div class="hero-list-positioner">
            <svg class="hero-list__icon">
              <use
                class="hero-list__svg"
                href="./images/sprite.svg#inspection"
              ></use>
            </svg>
            <h3 class="hero-list__title">Multi-Point Inspection</h3>
          </div>
          <p class="hero-list__text">
            To ensure quality, our team of HTM professionals fully assess and
            evaluate all equipment.
          </p>
        </li>
        <li class="hero-list__item">
          <div class="hero-list-positioner">
            <svg class="hero-list__icon">
              <use
                class="hero-list__svg"
                href="./images/sprite.svg#manager"
              ></use>
            </svg>
            <h3 class="hero-list__title">Professional Product Support</h3>
          </div>
          <p class="hero-list__text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </li>
        <li class="hero-list__item">
          <div class="hero-list-positioner">
            <svg class="hero-list__icon">
              <use class="hero-list__svg" href="./images/sprite.svg#card"></use>
            </svg>
            <h3 class="hero-list__title">Secure and Easy Payment Methods</h3>
          </div>
          <p class="hero-list__text">
            Pay your way, whether by credit card, PayPal or the redemption of
            earned credits.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
