<section class="reasons">
  <div class="inner-container">
    <h3 class="reasons__title reasons__title--adaptive">Reasons To Choose Our Products</h3>
  <div class="reasons-img-wrapper">
    <img class="reasons__img" src="./images/mask.jpg" alt="mask" />
  </div>
  <div class="reasons-right-wrapper">
    <div class="reasons-main-text-wrapper">
    <h3 class="reasons__title">Reasons To Choose Our Products</h3>
    <p class="reasons__text">
      All products of Health Pro have obtained the certifications issued by
      national specialized agencies and testing laboratories. <br/>They have also
      passed the quality inspection of several international famous testing
      institutions. We have absolute confidence that every product of Health Pro
      is a of the top quality.
    </p>
    </div>
    <ul class="reasons-list">
      <li class="reasons-list__item">
        <div class="reasons-list-icon-wrapper">
          <svg class="reasons-list-icon">
            <use
              class="reasons-list__svg"
              href="./images/sprite.svg#trophy"
            ></use>
          </svg>
        </div>
        <div class="reasons-list-text-wrapper">
          <h3 class="reasons-list__title">Industry leader</h3>
          <p class="reasons-list__text">
            If you have any questions about the equipment, our product
            specialists are here to help, specialists are here.
          </p>
        </div>
      </li>
      <li class="reasons-list__item">
        <div class="reasons-list-icon-wrapper">
          <svg class="reasons-list-icon">
            <use
              class="reasons-list__svg"
              href="./images/sprite.svg#graph"
            ></use>
          </svg>
        </div>
        <div class="reasons-list-text-wrapper">
          <h3 class="reasons-list__title">Innovation 3 led development</h3>
          <p class="reasons-list__text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
      <li class="reasons-list__item">
        <div class="reasons-list-icon-wrapper">
          <svg class="reasons-list-icon">
            <use
              class="reasons-list__svg"
              href="./images/sprite.svg#shield"
            ></use>
          </svg>
        </div>
        <div class="reasons-list-text-wrapper">
          <h3 class="reasons-list__title">
            To create a safer tomorrow for all
          </h3>
          <p class="reasons-list__text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
      <li class="reasons-list__item">
        <div class="reasons-list-icon-wrapper">
          <svg class="reasons-list-icon">
            <use
              class="reasons-list__svg"
              href="./images/sprite.svg#group"
            ></use>
          </svg>
        </div>
        <div class="reasons-list-text-wrapper">
          <h3 class="reasons-list__title">
            To protect and to improve living quality for all
          </h3>
          <p class="reasons-list__text">
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
    </ul>
      </div>
  </div>
</section>
