<section class="reviews">
  <div class="inner-container">
  <ul class="reviews-list">
    <li class="reviews-list__item">
      <div class="reviews-list-icons-wrapper">
        <div class="reviews-list-stars-wrapper">
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
        </div>
        <svg class="reviews-list-social-icon">
          <use
            class="reviews-list-social__svg"
            href="./images/sprite.svg#yelp"
          ></use>
        </svg>
      </div>
      <p class="reviews-list__text">
        "Sit cursus quam sagittis pellentesque iaculis mauris purus tincidunt
        urna ullamcorper viverra aliquet aliquet aliquet done non molestie
        egestas cursus amet eu facilisi varius libero diam pharetra odio
        pharetra at cras aliquam."
      </p>
      <div class="reviews-list-person-details-wrapper">
      <div class="reviews-list-img-wrapper">
        <img src="#" alt="" class="reviews-list__img" />
      </div>
      <div class="reviews-list-person-text-wrapper">
      <h3 class="reviews-list-person-name">Maria Eve</h3>
      <p class="reviews-list-person-specialization">Lawyer</p>
      </div>
      </div>
    </li>

    <li class="reviews-list__item">
      <div class="reviews-list-icons-wrapper">
        <div class="reviews-list-stars-wrapper">
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
        </div>
        <svg class="reviews-list-social-icon">
          <use
            class="reviews-list-social__svg"
            href="./images/sprite.svg#google"
          ></use>
        </svg>
      </div>
      <p class="reviews-list__text">
        "Nisl ac massa porttitor adipiscing pretium nec sit turpis in adipiscing
        faucibus quam consectetur pellentesque et mi molestie amet, et, platea
        facilisi malesuada vitae in scelerisque elementum vestibulum accumsan at
        etiam vitae."
      </p>
      <div class="reviews-list-person-details-wrapper">
      <div class="reviews-list-img-wrapper">
        <img src="#" alt="" class="reviews-list__img" />
      </div>
      <div class="reviews-list-person-text-wrapper">
      <h3 class="reviews-list-person-name">Liam Bower</h3>
      <p class="reviews-list-person-specialization">Mechanic</p>
      </div>
      </div>
    </li>

    <li class="reviews-list__item">
      <div class="reviews-list-icons-wrapper">
        <div class="reviews-list-stars-wrapper">
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
          <svg class="reviews-list-star-icon">
            <use
              href="./images/sprite.svg#star"
              class="reviews-list-star__svg"
            ></use>
          </svg>
        </div>
        <svg class="reviews-list-social-icon">
          <use
            class="reviews-list-social__svg"
            href="./images/sprite.svg#facebook"
          ></use>
        </svg>
      </div>
      <p class="reviews-list__text">
        "Tristique sed odio nunc ut morbi sit urna, vitae, sed pellentesque
        massa, pellentesque lacinia sapien tempor enim netus euismod tincidunt
        varius malesuada ornare morbi lorem suspendisse non posuere penatibus
        tincidunt aliquam lorem."
      </p>
      <div class="reviews-list-person-details-wrapper">
      <div class="reviews-list-img-wrapper">
        <img src="#" alt="" class="reviews-list__img" />
      </div>
      <div class="reviews-list-person-text-wrapper">
      <h3 class="reviews-list-person-name">Nicky</h3>
      <p class="reviews-list-person-specialization">Dancer</p>
      </div>
      </div>
    </li>
  </ul>
  </div>
</section>
